{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}{{ user.get_username }} | Study App{% endblock %}

{% block active_account_detail %}
{% if account.username == user.username %}active{% endif %}
{% endblock %}

{% block contents %}
<main class="container-md">
    <div class="row mt-4">
        <div class="col-lg-4">
            <div class="card card-body d-flex justify-content-center text-center mb-3">
                {% if account.icon %}
                    <img src="/media/{{ account.icon }}" alt="{{ account.username }}" width="64" height="64" class="rounded-circle mx-auto mb-2">
                {% else %}
                    <img src="{% static 'images/default_icon.png' %}" alt="{{ user.username }}" width="64" height="64" class="rounded-circle mx-auto mb-2">
                {% endif %}
                <h6 class="mb-3">{{ account.username }}</h6>
                {% if account.username == user.username %}
                    <a class="btn btn-outline-primary rounded-pill col-6 mx-auto mb-3" href="{% url 'study:account_update' account.username %}" role="button">プロフィール編集</a>
                {% elif connected %}
                    <a class="btn btn-secondary rounded-pill col-6 mx-auto mb-3" href="{% url 'study:unfollow' account.username %}" role="button">フォロー解除</a>
                {% else %}
                    <a class="btn btn-primary rounded-pill col-6 mx-auto mb-3" href="{% url 'study:follow' account.username %}" role="button">フォロー</a>
                {% endif %}
                <div class="hstack gap-3 mx-auto">
                    <div class="fw-light" style="font-size: 0.9rem;">フォロー : {{ following }}</div>
                    <div class="fw-light" style="font-size: 0.9rem;">フォロワー : {{ follower }}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card card-body mb-3">
                <h4 class="mb-3">学習時間</h4>
            </div>
            <div class="card card-body">
                <h4>質問・回答</h4>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link {% if tab == 'question' %}active{% endif %}" {% if tab == 'question' %}aria-current="page"{% endif %} href="?tab=question">質問</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if tab == 'answer' %}active{% endif %}" {% if tab == 'answer' %}aria-current="page"{% endif %} href="?tab=answer">回答</a>
                    </li>
                </ul>
                <ul class="list-group list-group-flush border-bottom border-top-0">
                    {% if tab == 'question' %}
                        {% if question_list %}
                            {% for question in question_list %}
                                <li class="list-group-item position-relative">
                                    <div class="d-flex align-item-center">
                                        <div class="d-flex flex-column justify-content-evenly text-truncate">
                                            <a class="stretched-link text-decoration-none" href="{% url 'qa:question_detail' question.id %}">{{ question.text|truncatechars:100 }}</a>
                                            <div class="hstack gap-3">
                                                <small class="text-muted">{{ question.created_at|date:'n/j G:i' }}</small>
                                                {% if question.is_resolved %}
                                                    <small class="text-muted">解決済み</small>
                                                {% else %}
                                                    <small class="text-muted">回答募集中</small>
                                                {% endif %}
                                                <small class="text-muted">{{ question.get_subject_display }}</small>
                                            </div>
                                        </div>
                                        {% if question.image %}
                                            <div class="ms-auto">
                                                <img src="/media/{{ question.image }}" alt="質問の画像"  width="104" height="78" class="rounded ms-3" style="object-fit: cover;"/>
                                            </div>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item text-center py-5">Q&ampAが見つかりませんでした。</li>
                        {% endif %}
                    {% endif %}

                    {% if tab == 'answer' %}
                        {% if answer_list %}
                            {% for answer in answer_list %}
                                <li class="list-group-item position-relative">
                                    <div class="d-flex align-item-center">
                                        <div class="d-flex flex-column justify-content-evenly text-truncate">
                                            <a class="stretched-link text-decoration-none" href="{% url 'qa:question_detail' answer.question.id %}">{{ answer.text|truncatechars:100 }}</a>
                                            <div class="hstack gap-3">
                                                <small class="text-muted">{{ answer.created_at|date:'n/j G:i' }}</small>
                                                {% if answer.is_best %}
                                                    <small class="text-muted">ベストアンサー</small>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if answer.image %}
                                            <div class="ms-auto">
                                                <img src="/media/{{ answer.image }}" alt="質問の画像"  width="104" height="78" class="rounded ms-3" style="object-fit: cover;"/>
                                            </div>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item text-center py-5">回答がありません。</li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</main>
{% endblock %}
