{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}{{ user.get_username }} | Study App{% endblock %}

{% block active_account_detail %}
{% if account.username == user.username %}active{% endif %}
{% endblock %}

{% block contents %}
<main class="container-md">
    <div class="row mt-4">
        <div class="col-lg-4">
            <div class="card card-body d-flex justify-content-center text-center mb-3">
                {% if user.icon %}
                    <img src="/media/{{ account.icon }}" alt="{{ account.username }}" width="64" height="64" class="rounded-circle mx-auto mb-2">
                {% else %}
                    <img src="{% static 'images/default_icon.png' %}" alt="{{ user.username }}" width="64" height="64" class="rounded-circle mx-auto mb-2">
                {% endif %}
                <h6 class="mb-3">{{ account.username }}</h6>
                {% if account.username == user.username %}
                    <a href="{% url 'study:account_update' account.username %}" class="btn btn-outline-primary rounded-pill col-6 mx-auto mb-3">プロフィール編集</a>
                {% elif connected %}
                    <a href="{% url 'study:unfollow' account.username %}" class="btn btn-secondary rounded-pill col-6 mx-auto mb-3" role="button">フォロー解除</a>
                {% else %}
                    <a href="{% url 'study:follow' account.username %}" class="btn btn-primary rounded-pill col-6 mx-auto mb-3" role="button">フォロー</a>
                {% endif %}
                <div class="hstack gap-3 mx-auto">
                    <div class="fw-light" style="font-size: 0.9rem;">フォロー : {{ following }}</div>
                    <div class="fw-light" style="font-size: 0.9rem;">フォロワー : {{ follower }}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card card-body mb-3">
                <h4 class="mb-3">学習時間</h4>
                {% comment %} <table class="table table-bordered mb-4" style="table-layout: fixed;">
                    <thead class="table-light">
                        <tr>
                            <th class="text-center" scope="col">今日</th>
                            <th class="text-center" scope="col">今週</th>
                            <th class="text-center" scope="col">今月</th>
                            <th class="text-center" scope="col">総計</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white">
                            <td class="text-center">時間</td>
                            <td class="text-center">時間</td>
                            <td class="text-center">時間</td>
                            <td class="text-center">時間</td>
                        </tr>
                    </tbody>
                </table> {% endcomment %}
            </div>
            <div class="card card-body">
                <h4>質問・回答</h4>
                <ul class="nav mb-3">
                    <li class="nav-item">
                        <a href="?tab=question" class="nav-link active">質問</a>
                    </li>
                    <li class="nav-item">
                        <a href="?tab=answer" class="nav-link">回答</a>
                    </li>
                </ul>
                {% if question_list %}
                    {% for question in question_list %}
                        <a href="{% url 'qa:question_detail' question.id %}" class="text-reset text-decoration-none">
                            <div class="card mb-4">
                                <div class="card-header d-flex py-1">
                                    <span class="badge rounded-pill bg-white text-dark border">{{ question.get_subject_display }}</span>
                                    <span class="ms-auto text-muted">{{ question.created_at|date:'n/j G:i' }}</span>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <span>{{ question.text|truncatechars:200 }}</span>
                                        </div>
                                        {% if question.image %}
                                            <div class="col-3">
                                                <img class="col-12" src="/media/{{ question.image }}" style="max-height: 100px; object-fit: cover;"/>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <p class="text-center">質問が見つかりませんでした。</p>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
