{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}目標一覧 | Study App{% endblock %}

{% block contents %}
<main class="container-md" style="max-width: 960px;">
    <div class="hstack mb-3">
        <h4>目標一覧</h4>
        <a href="{% url 'study:goal_create' %}" class="ms-auto">目標を作成する</a>
    </div>
    <ul class="list-group">
        {% if not df_goal.empty %}
        {% else %}
            <li class="list-group-item">目標がありません</li>
        {% endif %}
    </ul>
</main>
{% endblock %}

{% block script %}
<script>
    function changeTimeFormat(time) {
        if (time >= 60) {
            return ~~(time / 60) + '時間' + ((time % 60) ? (time % 60) + '分' : '');
        } else {
            return time % 60 + '分';
        }
    }

    // 勉強時間の表示形式を変更
    document.querySelectorAll('.js-studyMinutes').forEach(element => {
        const time = parseInt(element.innerHTML);
        element.innerHTML = changeTimeFormat(time);
    });
</script>
{% endblock %}