{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}目標一覧 | Study App{% endblock %}

{% block contents %}
<main class="container-md" style="max-width: 960px;">
    <div class="hstack mb-3">
        <h4>目標一覧</h4>
        <a href="{% url 'study:goal_create' %}" class="ms-auto">目標を作成する</a>
    </div>
    <h5>未達成</h5>
    {% if not df_goal.empty %}
        {% for goal in df_goal.itertuples %}
            <a href="#" class="text-reset text-decoration-none">
                <div class="card">
                    <div class="card-header">
                        <div class="hstack gap-3">
                            <span>開始 : {{ goal.created_at|date:'Y/n/j' }}</span>
                            <span>目標 : {{ goal.date|date:'Y/n/j' }}</span>
                            <strong>残り{{ goal.remaining_days.days }}日</strong>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5 hstack gap-3">
                                <span><i class="bi bi-circle-fill me-1" style="color: {{ goal.subject__color }};"></i>{{ goal.subject }}</span>
                                <span class="js-studyMinutes">{{ goal.goal_minutes }}</span>
                            </div>
                            <div class="col-7 hstack gap-3">
                                <span>学習済み:<span class="js-studyMinutes me-1">{{ goal.studied_minutes }}</span>({{ goal.achievement_rate }}%)</smal>
                            </div>
                        </div>
                        <span class="text-muted text-break">{{ goal.text }}</span>
                    </div>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <p>目標がありません</p>
    {% endif %}
    </ul>
</main>
{% endblock %}

{% block script %}
<script>
    function changeTimeFormat(time) {
        if (time >= 60) {
            return ~~(time / 60) + '時間' + ((time % 60) ? (time % 60) + '分' : '');
        } else {
            return time % 60 + '分';
        }
    }

    // 勉強時間の表示形式を変更
    document.querySelectorAll('.js-studyMinutes').forEach(element => {
        const time = parseInt(element.innerHTML);
        element.innerHTML = changeTimeFormat(time);
    });
</script>
{% endblock %}