{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}目標の更新 | Study App{% endblock %}

{% block contents %}
<main class="container-md" style="max-width: 720px;">
    <h4 class="mb-3">目標の更新</h4>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.subject.id_for_label }}" class="form-label">{{ form.subject.label }}<span class="text-danger">*</span></label>
            {% render_field form.subject class='form-select' %}
        </div>
        <div class="mb-3">
            <label for="{{ form.text.id_for_label }}" class="form-label">{{ form.text.label }}<span class="text-danger">*</span></label>
            {% render_field form.text class='form-control' %}
        </div>
        <div class="mb-3">
            <label for="{{ form.datetime.id_for_label }}" class="form-label">{{ form.datetime.label }}<span class="text-danger">*</span></label>
            {% render_field form.datetime class='form-control js-dateTimePicker' %}
        </div>
        <div class="mb-4">
            <label for="{{ form.goal_minutes.id_for_label }}" class="form-label">{{ form.goal_minutes.label }}<span class="text-danger">*</span></label>
            {% render_field form.goal_minutes class='form-control' %}
        </div>
        <button type="submit" class="btn btn-primary">更新</button>
    </form>
</main>
{% endblock %}

{% block script %}
<!-- Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<!-- Tempus Dominus -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempus-dominus/6.2.4/js/tempus-dominus.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempus-dominus/6.2.4/plugins/customDateFormat.min.js" crossorigin="anonymous"></script>

<script>
    tempusDominus.extend(window.tempusDominus.plugins.customDateFormat);

    const dateTimePickerEl = document.querySelector('.js-dateTimePicker');

    new tempusDominus.TempusDominus(dateTimePickerEl, {
        restrictions: {
            minDate: new Date(),
        },
        display: {
            buttons: {
                clear: true,
            },
            components: {
                decades: false,
            },
            theme: 'light',
        },
        useCurrent: false,
        localization: {
            today: '今日',
            clear: 'クリア',
            selectMonth: '月を選択',
            previousMonth: '前月',
            nextMonth: '次月',
            selectYear: '年を選択',
            previousYear: '前年',
            nextYear: '次年',
            previousDecade: '前期間',
            nextDecade: '次期間',
            incrementHour: '1時間増やす',
            decrementHour: '1時間減らす',
            incrementMinute: '1分増やす',
            decrementMinute: '1分減らす',
            selectTime: '時刻を選択',
            selectDate: '日付を選択',
            locale: 'ja',
            format: 'yyyy-MM-dd HH:mm',
        },
    });
</script>
{% endblock %}
