{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Study App{% endblock %}

{% block active_home %}active{% endblock %}

{% block contents %}
<main class="container-md mb-5">
    <div class="row">
        <div class="col-md-9">
            <div id="calendar"></div>
        </div>
        <div class="col-md-3 d-none d-md-block">
            <div style="position: sticky; top: 5rem;">
                <button class="btn btn-primary shadow-sm col-12" id="creationBtn" data-bs-toggle="modal" data-bs-target="#creationModal">記録を作成</button>
            </div>
        </div>
    </div>
    <button class="btn btn-primary rounded-circle p-3 d-md-none" id="creationBtn" data-bs-toggle="modal" data-bs-target="#creationModal" style="position: fixed; right: 20px; bottom: 20px;">
        <span class="material-symbols-outlined">add</span>
    </button>

    <div class="modal" id="creationModal" tabindex="-1" aria-labelledby="creationModalLabel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="mb-4">
                            <label class="form-label" for="{{ form.subject.id_for_label }}">教科を選択</label>
                            {% render_field form.subject class='form-select mb-2' %}
                            <a href="{% url 'study:subject' %}">
                                教科を作成する
                            </a>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <p class="form-label">開始</p>
                                <div class="col-auto">
                                    {% render_field form.start_date class='form-control' id='startDateInput' %}
                                </div>
                                <div class="col-auto">
                                    {% render_field form.start_time class='form-control' id='startTimeInput' %}
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            {% render_field form.study_minutes type='range' class='form-range' min='0' max='12' step='0.25' value='1' %}
                        </div>
                        <div class="mb-3">
                            <p class="form-label">終了</p>
                            <div class="row">
                                <div class="col-auto">
                                    {% render_field form.end_date class='form-control' id='endDateInput' %}
                                </div>
                                <div class="col-auto">
                                    {% render_field form.end_time class='form-control' id='endTimeInput' %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                        <input type="submit" class="btn btn-primary" value="記録する"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 記録作成モーダル -->
    <div class="modal" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="POST">
                    {% csrf_token %}
                    <div class="modal-header">
                        <form >
                        <a class="btn btn-primary text-nowrap" href="#" role="button">編集</a>
                        <a class="btn btn-primary text-nowrap" href="#" role="button">削除</a>
                    </div>
                    <div class="modal-body">
                        <p id="subject"></p>
                        <p id="start"></p>
                        <p id="end"></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>

<!-- Tempus Dominus -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempus-dominus/6.2.4/js/tempus-dominus.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempus-dominus/6.2.4/plugins/customDateFormat.min.js" crossorigin="anonymous"></script>

<!-- FullCalendar -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/locales-all.min.js"></script>

<script>
    tempusDominus.extend(window.tempusDominus.plugins.customDateFormat);

    const datePickerOptions = {
        display: {
            buttons: {
                today: true,
                clear: true,
            },
            components: {
                decades: false,
                clock: false,
            },
            theme: 'light',
        },
        localization: {
            today: '今日',
            clear: 'クリア',
            selectMonth: '月を選択',
            previousMonth: '前月',
            nextMonth: '次月',
            selectYear: '年を選択',
            previousYear: '前年',
            nextYear: '次年',
            previousDecade: '前期間',
            nextDecade: '次期間',
            locale: 'ja',
            format: 'yyyy-MM-dd',
        },
    }

    const timePickerOptions = {
        display: {
            buttons: {
                clear: true,
            },
            components: {
                calendar: false,
            },
            theme: 'light',
        },
        stepping: 5,
        localization: {
            clear: 'クリア',
            incrementHour: '1時間増やす',
            decrementHour: '1時間減らす',
            incrementMinute: '1分増やす',
            decrementMinute: '1分減らす',
            locale: 'ja',
            format: 'HH:mm',
        },
    }

    let startDateInput = document.getElementById('startDateInput');
    let startTimeInput = document.getElementById('startTimeInput');
    let endDateInput = document.getElementById('endDateInput');
    let endTimeInput = document.getElementById('endTimeInput');

    const startDatePicker = new tempusDominus.TempusDominus(startDateInput, datePickerOptions);
    const startTimePicker = new tempusDominus.TempusDominus(startTimeInput, timePickerOptions);
    const endDatePicker = new tempusDominus.TempusDominus(endDateInput, datePickerOptions);
    const endTimePicker = new tempusDominus.TempusDominus(endTimeInput, timePickerOptions);

    // 日付、時刻のフォームに初期値を設定する
    document.getElementById('creationBtn').addEventListener('click', () => {
        const now = new Date();
        now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
        nowDateTime = now.toISOString().slice(0, -8).split('T');

        startDateInput.value = nowDateTime[0];
        startTimeInput.value = nowDateTime[1];
        endDateInput.value = nowDateTime[0];
        endTimeInput.value = nowDateTime[1];
    });

    startDateInput.addEventListener('change', () => {
        const startDate = new Date(startDateInput.value);
        const endDate = new Date(endDateInput.value);
        if (startDate.getTime() > endDate.getTime()) {
            endDateInput.value = startDateInput.value;
            endDatePicker.updateOptions({
                defaultDate: endDateInput.value,
            });
        }
    });

    endDateInput.addEventListener('click', () => {
        endDatePicker.updateOptions({
            restrictions: {
                minDate: startDateInput.value,
            },
            defaultDate: document.getElementById('endDateInput').value,
        });
    });

    startTimeInput.addEventListener('change', () => {
        if ((startDateInput !== '') && (startDateInput.value === endDateInput.value)) {
            const startHour = parseInt(startTimeInput.value.split(':')[0]);
            const endHour = parseInt(endTimeInput.value.split(':')[0]);
            if (startHour > endHour) {
                endTimeInput.value = startTimeInput.value;
                // 終了時刻が更新された際にデフォルト値を更新
                // endTimePicker.updateOptions({
                //     defaultDate: endDateInput.value + ' ' + endTimeInput.value,
                // });
            }
        }
    });

    endTimeInput.addEventListener('click', () => {
        if ((startDateInput !== '') && (startDateInput.value === endDateInput.value)) {
            const startHour = parseInt(startTimeInput.value.split(':')[0]);
            endTimePicker.updateOptions({
                restrictions: {
                    disabledHours: Array.from(Array(startHour).keys()),
                },
            });
        }
    });

    const calendarEl = document.getElementById('calendar');
    const calendar = new FullCalendar.Calendar(calendarEl, {
        themeSystem: 'bootstrap5',
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'listMonth,timeGridDay,timeGridWeek,dayGridMonth',
        },
        initialView: 'listMonth',
        height: 'auto',
        events: [
            {% for study_time in df_context.itertuples %}
                {
                    id: '{{ study_time.id }}',
                    title: '{{ study_time.subject }} {{ study_time.study_time }}',
                    start: '{{ study_time.start|date:"Y-m-d H:i" }}',
                    end: '{{ study_time.end|date:"Y-m-d H:i" }}',
                    backgroundColor: '{{ study_time.subject__color }}',
                    created_at: '{{ study_time.created_at|date:"Y/m/d H:i" }}',
                    updated_at: '{{ study_time.updated_at|date:"Y/m/d H:i" }}'
                },
            {% endfor %}
        ],
        eventClick: (info) => {
            const myModal = new bootstrap.Modal('#detailModal', {
                keyboard: false,
            });
            document.getElementById('subject').textContent = info.event.title;
            document.getElementById('start').textContent = info.event.startStr.slice(0, -9).replace('T', ' ').replace(/-/g, '/');
            document.getElementById('end').textContent = info.event.endStr.slice(0, -9).replace('T', ' ').replace(/-/g, '/');
            myModal.toggle();
        },
        locale: 'ja',
        // 終日スロットを非表示
        allDaySlot: false,
        buttonText: {
            list: 'リスト',
        },
        dayCellContent: (info) => {
            info.dayNumberText = info.dayNumberText.replace('日', '');
        },
        views: {
            timeGridDay: {
                titleFormat: (info) => {
                    const month = info.date.month;
                    const day = info.date.day;
                    return month + '月' + day + '日';
                },
            },
            timeGridWeek: {
                titleFormat: (info) => {
                    const startMonth = info.start.month + 1;
                    const endMonth = info.end.month + 1;
                    if (startMonth === endMonth) {
                        return startMonth + '月';
                    // 月をまたぐ場合
                    } else {
                        return startMonth + '月 - ' + endMonth + '月';
                    }
                },
                dayHeaderFormat: (info) => {
                    const day = info.date.day;
                    const weekNum = info.date.marker.getDay();
                    const week = ['(日)', '(月)', '(火)', '(水)', '(木)', '(金)', '(土)'][weekNum];
                    return day + ' ' + week;
                },
            }
        },
    });
    calendar.render();
</script>
{% endblock %}
