{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}Study App{% endblock %}

{% block active_home %}active{% endblock %}

{% block contents %}
<main class="container-lg">
    <div class="row">
        <div class="col-lg-8">
            <!-- タブ -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link {% if tab == 'all' %}active{% endif %}" {% if tab == 'all' %}aria-current="page"{% endif %} href="?tab=all">すべて</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if tab == 'my-record' %}active{% endif %}" {% if tab == 'my-record' %}aria-current="page"{% endif %} href="?tab=my-record">自分の記録</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if tab == 'following' %}active{% endif %}" {% if tab == 'following' %}aria-current="page"{% endif %} href="?tab=following">フォロー</a>
                </li>
            </ul>
            <ul class="list-group list-group-flush border-bottom mb-5">
                {% if studytime_list %}
                    {% for studytime in studytime_list %}
                        <li class="list-group-item py-3">
                            <div class="hstack gap-2 mb-3">
                                <a href="{% url 'study:account_detail' studytime.user.username %}">
                                    {% if studytime.user.icon %}
                                        <img src="/media/{{ studytime.user.icon }}" alt="{{ studytime.user.username }}" width="28" height="28" class="rounded-circle">
                                    {% else %}
                                        <img src="{% static 'images/default_icon.png' %}" alt="{{ user.username }}" width="28" height="28" class="rounded-circle">
                                    {% endif %}
                                </a>
                                <a href="{% url 'study:account_detail' studytime.user.username %}" class="text-decoration-none me-3">@{{ studytime.user.username }}</a>
                                {% if studytime.user.pk == user.pk %}
                                    <div class="dropdown ms-auto">
                                        <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li>
                                                <a class="dropdown-item" href="{% url 'study:studytime_update' studytime.pk %}" role="button">編集</a>
                                            </li>
                                            <li>
                                                <button class="dropdown-item" type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deletionModal" data-id="{{ studytime.id }}" data-datetime="{{ studytime.studied_at|date:'n/j G:i' }}" data-subject-color="{{ studytime.subject.color }}" data-subject="{{ studytime.subject }}" data-study-minutes="{{ studytime.minutes }}">削除</button>
                                            </li>
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card card-body hstack gap-3 px-md-4">
                                <span><i class="bi bi-circle-fill me-1" style="color: {{ studytime.subject.color }};"></i>{{ studytime.subject }}</span>
                                <span class="text-nowrap">{{ studytime.minutes }}</span>
                                {% if studytime.publication == 'private' %}
                                    <small class="text-nowrap text-muted">非公開</small>
                                {% endif %}
                                <span class="text-nowrap text-muted ms-auto">{{ studytime.studied_at|date:'n/j G:i' }}</span>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item text-center py-5">記録がありません</li>
                {% endif %}
            </ul>
        </div>
        <div class="col-lg-4 d-none d-lg-block">
            <div class="vstack gap-4" style="position: sticky; top: 5rem;">
                <a class="btn btn-primary col-12 gap-3" href="{% url 'study:studytime_create' %}" role="button">記録を作成</a>
            </div>
        </div>
    </div>
    <a class="btn btn-primary rounded-circle d-lg-none position-fixed bottom-0 end-0 m-3 d-flex justify-content-center align-items-center" style=" width: 56px; height: 56px;" href="{% url 'study:studytime_create' %}" role="button"><div class="material-symbols-outlined">add</div></a>

    <!-- 記録削除モーダル -->
    <div class="modal fade" id="deletionModal" tabindex="-1" aria-labelledby="deletionModalLabel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deletionModalLabel">記録の削除</h1>
                </div>
                <div class="modal-body">
                    <p>この記録を削除しますか？</p>
                    <div class="card card-body hstack gap-3 mb-3">
                        <span>
                            <i class="bi bi-circle-fill me-1" id="subjectColor"></i>
                            <span id="subject"></span>
                        </span>
                        <span id="studyMinutes"></span>
                        <span class="text-muted ms-auto" id="datetime"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <form method="post" action="#" id="deletionForm">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">削除する</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block script %}
<script>
    document.getElementById('deletionModal').addEventListener('show.bs.modal', event => {
        const targetEl = event.relatedTarget;
        document.getElementById('deletionForm').action = 'study-time-delete/' + targetEl.dataset.id;
        document.getElementById('datetime').innerHTML = targetEl.dataset.datetime;
        document.getElementById('subjectColor').style.color = targetEl.dataset.subjectColor;
        document.getElementById('subject').innerHTML = targetEl.dataset.subject;
        document.getElementById('studyMinutes').innerHTML = targetEl.dataset.studyMinutes;
    });
</script>
{% endblock %}
