{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Q&ampA | Study App{% endblock %}

{% block active_qa %}active{% endblock %}

{% block contents %}
<main class="container col-md-9">
    <div class="row">
        <div class="col-md-8">
            <form method="get">
                <div class="input-group mb-4">
                    <input type="search" class="form-control" name="query" placeholder="キーワードを入力">
                    <button type="submit" class="btn btn-primary">
                        <i class="material-symbols-outlined">search</i>
                    </button>
                </div>
            </form>
            <div class="dropdown ms-auto">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    ドロップダウンボタン
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#"></a></li>
                    <li><a class="dropdown-item" href="#">新着順</a></li>
                    <li><a class="dropdown-item" href="#">メニュー3</a></li>
                </ul>
            </div>
            {% if question_list %}
                {% for question in question_list %}
                    <a href="{% url 'study:question_detail' question.id %}" class="text-reset text-decoration-none">
                        <div class="card mb-4">
                            <div class="card-header d-flex py-1">
                                <div class="badge rounded-pill bg-white text-dark border">{{ question.get_subject_display }}</div>
                                <div class="ms-auto text-muted">
                                    {{ question.created_at|date:'n/j G:i' }}
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        {{ question.text|truncatechars:200 }}
                                    </div>
                                    {% if question.image %}
                                        <div class="col-3">
                                            <img class="col-12" src="/media/{{ question.image }}" style="max-height: 100px; object-fit: cover;"/>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <div class="text-center mt-5">Q&ampAが見つかりませんでした。</div>
            {% endif %}

            <!-- ページネーション -->
            {% if is_paginated %}
                <ul class="pagination justify-content-center" style="margin-top: 3rem; margin-bottom: 10rem;">
                    <!-- 前ページへのリンク -->
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link">&laquo;</a></li>
                    {% endif %}
                    <!-- ページ数表示 -->
                    {% for page_num in page_obj.paginator.page_range %}
                        {% if page_obj.number == page_num %}
                            <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_num }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">{{ page_num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <!-- 次ページへのリンク -->
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link">&raquo;</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
        <div class="col-md-4 d-none d-md-block mb-3">
            <div style="position: sticky; top: 5rem;">
                <a type="submit" class="btn btn-primary col-12 mb-3" href="{% url 'study:question_create' %}" role="button">投稿する</a>
                <form>
                    <label class="form-label" for="{{ subject_select_form.subject.id_for_label }}">{{ subject_select_form.subject.label }}</label>
                    {% render_field subject_select_form.subject class='form-select mb-3' %}
                </form>
                <form>
                    <label class="form-label" for="id_status">回答状況の選択</label>
                    <select class="form-select mb-3" id="id_status">
                        <option value="" selected>---------</option>
                        <option value="1">回答済み</option>
                        <option value="0">未回答</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
</main>

<script>
    // urlパラメータから指定したキーの値を取得する
    function getParam(name, url) {
        name = name.replace(/[\[\]]/g, '\\$&');
        let regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)');
        let results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    function getOptionElement(select, value) {
        for (let i = 0; i < select.options.length; i++) {
            if (select.options[i].value === value) return select.options[i];
        }
        return null;
    }

    const select = document.getElementById('id_subject');

    subject = getOptionElement(select, getParam('subject', window.location.href));
    if (subject) subject.selected = true;

    select.onchange = () => {
        if (select.value) window.location.href = '?subject=' + select.value;
        else  window.location.href = 'qa';
    };
</script>
{% endblock %}
