{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Study App{% endblock %}

{% block contents %}
<main class="container-md col-lg-5">
    <div class="card mb-3">
        <div class="card-header hstack gap-3">
            <div class="badge rounded-pill bg-white text-dark border">{{ question.get_subject_display }}</div>
            <div class="text-muted ms-auto" style="font-size: 0.9rem;">作成日時：{{ question.created_at|date:'Y/n/j G:i' }}</div>
        </div>
        <div class="card-body mx-3 my-2">
            <div class="hstack gap-2 mb-3">
                <a href="{% url 'study:account_detail' question.user.username %}">
                    <img src="/media/{{ question.user.icon }}" alt="{{ question.user.username }}" width="28" height="28" class="rounded-circle">
                </a>
                <a class="text-decoration-none me-3" href="{% url 'study:account_detail' question.user.username %}">@{{ question.user.username }}</a>
                <!-- ログインユーザーが質問作成者だった場合に編集ボタンを表示 -->
                {% if question.user_id == user.id %}
                    <button class="btn btn-primary ms-auto">編集</button>
                {% endif %}
            </div>
            <div class="card-text mb-4">
                {{ question.text|linebreaksbr }}
            </div>
            {% if question.image %}
                <div class="col-md-7 mx-auto mb-3">
                    <img class="col-12" src="/media/{{ question.image }}"/>
                </div>
            {% endif %}
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                回答する
            </a>
        </div>
    </div>

    <!-- 回答フォームのカード -->
    <div class="collapse mb-3" id="collapseExample">
        <div class="card card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {% render_field field class='form-control' %}
                    </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="送信">
            </form>
        </div>
    </div>

    {% if answer_list %}
        {% for answer in answer_list %}
            <div class="card mb-3">
                <p class="card-header">
                    作成日時：{{ answer.created_at }}
                    更新日時：{{ answer.updated_at }}
                </p>
                <div class="card-body">
                    <h4>{{ answer.title }}</h4>
                    <p class="card-text">
                        {{ answer.text }}
                    </p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>回答がありません</p>
    {% endif %}

    <div style="height: 80vh;"></div>
</main>
{% endblock %}
