{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Study App{% endblock %}

{% block contents %}
<main class="container-md" style="max-width: 960px;">
    <div class="card mb-3">
        <div class="card-header hstack gap-3">
            <div class="badge rounded-pill bg-white text-dark border">{{ question.get_subject_display }}</div>
            <div class="text-muted ms-auto" style="font-size: 0.9rem;">作成日時：{{ question.created_at|date:'Y/n/j G:i' }}</div>
        </div>
        <div class="card-body mx-3 my-2">
            <div class="hstack gap-2 mb-3">
                <a href="{% url 'study:account_detail' question.user.username %}">
                    <img src="/media/{{ question.user.icon }}" alt="{{ question.user.username }}" width="28" height="28" class="rounded-circle">
                </a>
                <a class="text-decoration-none me-3" href="{% url 'study:account_detail' question.user.username %}">@{{ question.user.username }}</a>
                <!-- ログインユーザーが質問作成者だった場合に編集ボタンを表示 -->
                {% if question.user_id == user.id %}
                    <a href="{% url 'study:question_update' question.id %}" class="btn btn-primary ms-auto">編集</a>
                {% endif %}
            </div>
            <div class="card-text mb-4">{{ question.text|linebreaksbr }}</div>
            {% if question.image %}
                <div class="col-md-7 mx-auto mb-3">
                    <a role="button" data-bs-toggle="modal" data-bs-target="#imageModal" data-image="{{ question.image }}">
                        <img class="col-12" src="/media/{{ question.image }}"/>
                    </a>
                </div>
            {% endif %}
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse">回答する</a>
            {% if is_user_liked_for_question %}
                <button type="button" id="ajax-like-for-question" style="border:none;background:none">
                    <i class="fas fa-heart text-danger" id="like-for-question-icon"></i>
                </button>
            {% else %}
                <button type="button" id="ajax-like-for-question" style="border:none;background:none">
                    <i class="far fa-heart text-danger" id="like-for-question-icon"></i>
                </button>
            {% endif %}
            <span id="like-for-question-count">{{ like_for_question_count }}</span>
            <span>件のイイね</span>
        </div>
    </div>

    <!-- 回答フォームのカード -->
    <div class="collapse mb-3" id="collapse">
        <div class="card card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {% render_field field class='form-control' %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">送信</button>
            </form>
        </div>
    </div>

    {% if answer_list %}
        {% for answer in answer_list %}
            <div class="card mb-3">
                <p class="card-header">
                    作成日時：{{ answer.created_at }}
                    更新日時：{{ answer.updated_at }}
                </p>
                <div class="card-body">
                    <h4>{{ answer.title }}</h4>
                    <p class="card-text">
                        {{ answer.text }}
                    </p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>回答がありません</p>
    {% endif %}

    <div style="height: 80vh;"></div>

    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img class="col-12" id="image" src="/media/{{ question.image }}"/>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block script %}
<script>
    document.getElementById('imageModal').addEventListener('show.bs.modal', event => {
        targetEl = event.relatedTarget
        const image = targetEl.dataset.image;
        document.getElementById('image').setAttribute('src', '/media/' + image);
    });

    /* ポストに対するイイね */
    document.getElementById('ajax-like-for-question').addEventListener('click', e => {
        e.preventDefault();
        const url = '{% url "study:like_for_question" %}';
        fetch(url, {
            method: 'POST',
            body: `question_pk={{ question.pk }}`,
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
                'X-CSRFToken': '{{ csrf_token }}',
            },
        }).then(response => {
            return response.json();
        }).then(response => {
            console.log(response);
            // いいね数を書き換える
            const counter = document.getElementById('like-for-question-count')
            counter.textContent = response.like_for_question_count;
            const icon = document.getElementById('like-for-question-icon')
            // 作成した場合はハートを塗る
            if (response.method == 'create') {
                icon.classList.remove('far')
                icon.classList.add('fas')
                icon.id = 'like-for-question-icon'
            } else {
                icon.classList.remove('fas')
                icon.classList.add('far')
                icon.id = 'like-for-question-icon'
            }
        }).catch(error => {
            console.log(error);
        });
    });
</script>
{% endblock %}
