{% extends 'base.html' %}

{% load static %}

{% block title %}レポート | Study App{% endblock %}

{% block active_report %}active{% endblock %}

{% block contents %}
<main class="container-md">
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <td>index</td>
            {% for column, item in df.iteritems %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for index, values in df.iterrows %}
            <tr>
                <th>{{ index }}</th>
                {% for value in values %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="hstack mb-4">
                <h3>学習時間</h3>
                <div class="btn-group ms-auto" role="group" aria-label="ボタングループ">
                    <button type="button" class="btn btn-primary active" id="weekBtn">週</button>
                    <button type="button" class="btn btn-primary" id="monthBtn">月</button>
                    <button type="button" class="btn btn-primary" id="yearBtn">年</button>
                </div>
            </div>
            <!-- 棒グラフ -->
            <canvas id="barChart"></canvas>
        </div>
        <div class="col-lg-6 mb-4">
            <h3>割合</h3>
            <div class="col-lg-8 mx-auto">
                <!-- 円グラフ -->
                <canvas id="pieChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-10 mx-auto">
        <table class="table table-bordered mb-4" style="table-layout: fixed;">
            <thead class="table-light">
                <tr>
                    <th class="text-center" scope="col">今日</th>
                    <th class="text-center" scope="col">今週</th>
                    <th class="text-center" scope="col">今月</th>
                    <th class="text-center" scope="col">総計</th>
                </tr>
            </thead>
            <tbody class="bg-white">
                <tr>
                    <td class="text-center">{{ today_sum }}</td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
{% endblock %}

{% block script %}
<!-- Chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

<script>
    function drawBarChart(data, title=null) {
        window.barChart = new Chart(document.getElementById('barChart'), {
            type: 'bar',
            data: data,
            options: {
                plugins: {
                    title,
                    tooltip: {
                        callbacks: {
                            // ラベルに表示する勉強時間の形式を変更
                            label: (context) => {
                                let label = context.dataset.label || '';
                                if (label) label += ': ';
                                if (context.parsed.y !== null) {
                                    if (context.parsed.y >= 60) {
                                        if (context.parsed.y % 60) {
                                            label += ~~(context.parsed.y / 60) + '時間' + (context.parsed.y % 60) + '分';
                                        }
                                        else {
                                            label += context.parsed.y / 60 + '時間'
                                        }
                                    } else if (context.parsed.y != 0) {
                                        label += context.parsed.y + '分';
                                    }
                                }
                                return label;
                            },
                        },
                    },
                    legend: {
                        position: 'bottom',
                    },
                },
                responsive: true,
                scales: {
                    x: {
                        stacked: true,
                    },
                    y: {
                        stacked: true,
                        ticks: {
                            stepSize: 30,
                            // 目盛りの勉強時間の表示形式を変更
                            callback: (value, index, ticks) => {
                                if (value >= 60) value = (value / 60) + '時間';
                                else if (value != 0)  value = value + '分';
                                return value;
                            },
                        },
                    },
                },
            },
        });
    }

    function drawPieChart(data) {
        window.pieChart = new Chart(document.getElementById('pieChart'), {
            type: 'pie',
            data: data,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom',
                    },
                },
            },
        });
    }

    // ボタングループにactiveクラスを付与する
    function setActive(elem, ...elems) {
        elem.classList.add('active');
        elems.forEach((el) => {
            el.classList.remove('active');
        });
    }

    const weekBtn = document.getElementById('weekBtn');
    const monthBtn = document.getElementById('monthBtn');
    const yearBtn = document.getElementById('yearBtn');

    const now = new Date();

    drawBarChart({{ bar_chart_week|safe }});
    drawPieChart({{ pie_chart|safe }});

    weekBtn.onclick = () => {
        if (barChart) barChart.destroy();
        drawBarChart({{ bar_chart_week|safe }});
        setActive(weekBtn, monthBtn, yearBtn);
    }

    monthBtn.onclick = () => {
        if (barChart) barChart.destroy();
        drawBarChart({{ bar_chart_month|safe }}, {
            display: true,
            text: (now.getMonth() + 1) + '月'
        });
        setActive(monthBtn, weekBtn, yearBtn);
    }

    yearBtn.onclick = () => {
        if (barChart) barChart.destroy();
        drawBarChart({{ bar_chart_year|safe }}, {
            display: true,
            text: now.getFullYear() + '年'
        });
        setActive(yearBtn, weekBtn, monthBtn);
    }
</script>
{% endblock %}
