{% extends 'base.html' %}

{% block title %}レポート | Study App{% endblock %}

{% block active_report %}active{% endblock %}

{% block contents %}
<main class="container-md">
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="hstack mb-4">
                <h2>学習時間</h2>
                <div class="btn-group ms-auto" role="group" aria-label="ボタングループ">
                    <button type="button" class="btn btn-primary active" id="weekBtn">週</button>
                    <button type="button" class="btn btn-primary" id="monthBtn">月</button>
                    <button type="button" class="btn btn-primary" id="yearBtn">年</button>
                </div>
            </div>
            <canvas id="barChart"></canvas>
        </div>
        <div class="col-lg-6 mb-4">
            <h2>割合</h2>
            <div class="col-lg-8 mx-auto">
                <canvas id="pieChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-10 mx-auto">
        <table class="table table-bordered mb-4">
            <thead class="table-light">
                <tr>
                    <th class="text-center" scope="col">今日</th>
                    <th class="text-center" scope="col">今週</th>
                    <th class="text-center" scope="col">今月</th>
                    <th class="text-center" scope="col">総計</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">時間</td>
                    <td class="text-center">時間</td>
                    <td class="text-center">時間</td>
                    <td class="text-center">時間</td>
                </tr>
            </tbody>
        </table>
        {% comment %} <h2>一覧</h2>
        <div class="col-md-10 mx-auto">
            <table style="border: 1px solid black; margin:30px 0px; border-collapse: separate; border-radius: 7px;">
                <tr>
                    <td style="text-align: left;" width="250" height="55">○</td>
                    <td style="text-align: left;" width="250" height="55">○</td>
                    <td style="text-align: center;" width="200" height="55">%</td>
                </tr>
            </table>
            <table style="border: 1px solid black; margin:30px 0px; border-collapse: separate; border-radius: 7px;">
                <tr>
                    <td style="text-align: left;" width="250" height="55">○</td>
                    <td style="text-align: left;" width="250" height="55">○</td>
                    <td style="text-align: center;" width="200" height="55">%</td>
                </tr>
            </table>
        </div> {% endcomment %}
    </div>
</main>

<!-- Chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

<script>
    function drawBarChart(data) {
        window.barChart = new Chart(document.getElementById('barChart'), {
            type: 'bar',
            data: data,
            options: {
                scales: {
                    y: {
                        ticks: {
                            stepSize: 30,
                            callback: (value, index, ticks) => {
                                if (value >= 60) {
                                    value = (value / 60) + '時間';
                                } else if (value != 0) {
                                    value = value + '分';
                                }
                                return value;
                            },
                        },
                    },
                },
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: (context) => {
                                let label = context.dataset.label || '';
                                if (label) {
                                    label += ': ';
                                }
                                if (context.parsed.y !== null) {
                                    if (context.parsed.y >= 60) {
                                        if (context.parsed.y % 60) {
                                            label += Math.floor(context.parsed.y / 60) + '時間' + (context.parsed.y % 60) + '分';
                                        } else {
                                            label += context.parsed.y / 60 + '時間'
                                        }
                                    } else if (context.parsed.y != 0) {
                                        label += context.parsed.y + '分';
                                    }
                                }
                                return label;
                            }
                        }
                    },
                    legend: {
                        position: 'bottom',
                    },
                },
            },
        });
    }

    function drawPieChart(data) {
        window.pieChart = new Chart(document.getElementById('pieChart'), {
            type: 'pie',
            data: data,
            options: {
                plugins: {
                    legend: {
                        position: 'bottom',
                    },
                },
            },
        });
    }

    function setActive(elem, ...elems) {
        elem.classList.add('active');
        elems.forEach((el) => {
            el.classList.remove('active');
        });
    }

    const weekBtn = document.getElementById('weekBtn');
    const monthBtn = document.getElementById('monthBtn');
    const yearBtn = document.getElementById('yearBtn');

    drawBarChart({{ bar_chart_week|safe }});
    drawPieChart({{ pie_chart|safe }});

    weekBtn.onclick = () => {
        if (barChart) barChart.destroy();
        drawBarChart({{ bar_chart_week|safe }});
        setActive(weekBtn, monthBtn, yearBtn);
    }

    monthBtn.onclick = () => {
        if (barChart) barChart.destroy();
        drawBarChart({{ bar_chart_month|safe }});
        setActive(monthBtn, weekBtn, yearBtn);
    }

    yearBtn.onclick = () => {
        if (barChart) barChart.destroy();
        drawBarChart();
        setActive(yearBtn, weekBtn, monthBtn);
    }
</script>
{% endblock %}
