{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}記録の更新 | Study App{% endblock %}

{% block contents %}
<main class="container-md" style="max-width: 960px;">
    <h4 class="mb-3">記録の更新</h4>
    <form method="post">
        {% csrf_token %}
        <div class="vstack gap-3 mb-3">
            {% for field in form %}
                {% if field.name == 'subject' %}
                    {% render_field field class='form-select' %}
                {% elif field.name == 'studied_at' %}
                    {% render_field field class='form-control' type='datetime-local' %}
                {% else %}
                    {% render_field field class='form-control' type="number" %}
                {% endif %}
            {% endfor %}
        </div>
        <input type="submit" class="btn btn-primary" value="更新">
    </form>
</main>
{% endblock %}
