{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}教科の一覧 | Study App{% endblock %}

{% block contents %}
<main class="container-md" style="max-width: 960px;">
    <form method="post">
        {% csrf_token %}
        <div class="hstack gap-3 mb-5 align-items-center col-11 mx-auto">
            {% render_field form.name class='form-control me-auto' placeholder='教科名を入力してください' %}
            {% render_field form.color type='color' class='form-control form-control-color flex-shrink-0' list='color-list' %}
            <datalist id="color-list">
                <option value="#ffa8a8"></option>
                <option value="#ffa8d3"></option>
                <option value="#ffa8ff"></option>
                <option value="#d3a8ff"></option>
                <option value="#a8a8ff"></option>
                <option value="#a8d3ff"></option>
                <option value="#a8ffff"></option>
                <option value="#a8ffd3"></option>
                <option value="#a8ffa8"></option>
                <option value="#d3ffa8"></option>
                <option value="#ffffa8"></option>
                <option value="#ffd3a8"></option>
            </datalist>
            <div class="vr"></div>
            <input type="submit" value="作成する" class="btn btn-primary flex-shrink-0">
        </div>
    </form>
    {% for subject in subject_list %}
        <div class="card card-body hstack gap-3 mb-3 col-11 mx-auto">
            <i class="bi bi-circle-fill mx-3" style="color: {{ subject.color }};"></i>{{ subject.name }}
            <a class="btn btn-primary ms-auto" href="{% url 'study:subject_update' subject.id %}" role="button">編集</a>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deletionModal" data-id="{{ subject.id }}" data-subject-color="{{ subject.color }}" data-subject="{{ subject.name }}">削除</button>
        </div>
    {% endfor %}

    <!-- 記録削除モーダル -->
    <div class="modal fade" id="deletionModal" tabindex="-1" aria-labelledby="deletionModalLabel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deletionModalLabel">教科の削除</h1>
                </div>
                <div class="modal-body">
                    <p>この教科を削除しますか？</p>
                    <div class="card card-body hstack gap-3 mb-3 col-11 mx-auto">
                        <i class="bi bi-circle-fill mx-3" id="subjectColor"></i>
                        <div id="name">{{ subject.name }}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <form method="post" action="#" id="deletionForm">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">削除する</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    document.getElementById('deletionModal').addEventListener('show.bs.modal', event => {
        targetEl = event.relatedTarget
        const id = targetEl.dataset.id;
        const subjectColor = targetEl.dataset.subjectColor;
        const name = targetEl.dataset.subject;

        document.getElementById('deletionForm').action = 'subject/subject-delete/' + id;
        document.getElementById('subjectColor').style.color = subjectColor;
        document.getElementById('name').innerHTML = name;
    });
</script>
{% endblock %}
