{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}教科の一覧 | Study App{% endblock %}

{% block contents %}
<main class="container-md col-md-6">
    <form method="post">
        {% csrf_token %}
        <div class="hstack gap-3 mb-5 align-items-center col-11 mx-auto">
            {% render_field form.subject class='form-control me-auto' placeholder='教科名を入力してください' %}
            {% render_field form.color type='color' class='form-control form-control-color flex-shrink-0' value='#A3C8FF' %}
            <div class="vr"></div>
            <input type="submit" value="作成する" class="btn btn-primary flex-shrink-0">
        </div>
    </form>
    {% for subject in subject_list %}
        <div class="card card-body hstack gap-3 mb-3 col-11 mx-auto">
            <i class="bi bi-circle-fill mx-3" style="color: {{ subject.color }};"></i>{{ subject.subject }}
            <a class="btn btn-primary ms-auto" href="#" role="button">編集</a>
            <a class="btn btn-primary" href="#" role="button">削除</a>
        </div>
    {% endfor %}
</main>
{% endblock %}
